h1{
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 1.5em;
    text-shadow: 1px 1px 2px gray;
    border-bottom:solid 3px rgb(115, 115, 114);
}

body{
    font-family:"Arial", "Meiryo", sans-serif;
    text-align: center;
}

#root{
    font-size:20px;
}

#root > h1{
    font-size: 2.0rem
}

#blue{
    color:skyblue;
}

#pink{
    color:rgb(255, 192, 203);
}

.pinkk{
    color:rgb(255, 192, 203);
}

.bluee{
    color: skyblue;
}

div > p{
    font-weight: bold;
}


